@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
	transition: .3s ease-in-out;
}

html {
	height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
	background: url(../fotos/fon-min.png);
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

main {
	flex: 1 0 auto;
}

.container { 
	max-width: 1180px;
	margin: 0 auto;
}


.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	position: relative;
	width: 100%;
	border-radius: 0 0 10px 10px;
	padding: 0 7px 0 3px;
	box-shadow: -8px 6px 15px 0px rgba(0,0,0,0.3);
	z-index: 2;
}

.header__container:after {
	content: '';
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	border-radius: 0 0 10px 10px;
	z-index: 1;
}

.logo {
	flex: 0 0 170px;
	z-index: 2;
	background-color: #fff;
}

.logo img {
	max-width: 100%;
	vertical-align: top;
}

.header__menu {
	flex: 1 1 auto;
	font-size: 14px;
	font-weight: 700;
	z-index: 2;
}

.header__menu ul {
	display: flex;
	flex-wrap: wrap;

}

.header__menu li {
	list-style: none;
	margin: 0 7px;
	padding-top: 5px;
}

.header__menu a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

/*Линия сиреневая под меню*/
.header__menu a:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #9b59b6;
	transform: translateY(10px) scale(0);
	transition: all 0.3s;
}

.header__menu a:hover:after {
	transform: translateY(10px) scale(1);
}

/*Активная линия под меню*/
.line_active a:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #9b59b6;
	transform: translateY(10px) scale(1);
}

/*AOS переход меню вниз*/
[data-aos=slide-downn] {
	transform: translateY(-150%);
	transition-property: transform;
}

[data-aos=slide-downn].aos-animate {
	transform: translateY(0);
}

/*Окно поиска*/
#searchform input {
	border: 0;
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 16px;
	outline: none;
	width: 100%;
	height: 45px;
}

#searchform {
	display: none;
	position: absolute;
	right: 0;
	width: 300px;
	top: 60px;
	z-index: 2;
}

#searchform.btn-search-active {
	display: block;
	top: 52px;
}

/*Кнопка поиск*/
.btn-search {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.btn-search span::after,
.btn-search span::before {
	content: '';
	top: 50%;
	left: 50%;
	position: absolute;
	border: 1px solid #222;
	transition: 0.2s;
}

.btn-search span:before {
	border-radius: 50%;
	margin: -10px 0 0 -7px;
	width: 14px;
	height: 14px;
	border: 2px solid #222;
}

.btn-search span:after {
	margin: 4px 0 0 3px;
	width: 10px;
	transform: rotate(45deg);
	background-color: #000;
}

.btn-search-active span:before {
	border-radius: 0;
	transform: rotate(-45deg);
}

.btn-search-active span::after,
.btn-search-active span::before {
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -12px;
	border: 1.5px solid #222;                     
	background-color: #222;
	width: 24px;
	height: 1px;
}

/*AOS анимация btn-search*/
[data-aos="rotate-c"] {
	transform: rotate(-360deg);
	transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
	transform: rotate(0deg);
}

.menu-btn {
	display: none;	
	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 3px;
	transition: transform 0.2s ease-in, height 0.2s linear 0.4s;
	background-color: #000;
	margin: 0 0 0 -12px;
}

.menu-btn span::before,
.menu-btn span::after {
	content: '';
	display: block;
}

.menu-btn span::before {
	top: -8px;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-btn span::after {
	top: 8px;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.show span {
	height: 0;
}

.show span:before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
}

.show span:after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*main*/

/*Блок контентный*/

.items {
	height: 100%;
	margin-top: 45px;
	padding: 0 0 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fff;
}

.item {
	width: 320px;
	margin: 10px;
	border-radius: 10px;
	margin-top: 30px;
}

.item .pony {
	position: relative;
	width: 100%;
	height: 150px;
	background: center/cover no-repeat;
	border-radius: 200px;
}

.items a {
	text-decoration: none;
}

.sticker {
	position: absolute;
	left: -10px;
	top: 20px;
	background: #9b59b6;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 3px 5px;
	color: #fff;
	border-radius: 0 8px 8px 0;
}

/*Уголок*/
.sticker::after {
	content: '';	
	position: absolute;
	top: 100%;
	left: 0;
	border: 5px solid transparent;
	border-top: 5px solid #783792;
	border-right: 5px solid #783792
}

.title {
	padding: 10px;
	color: #000;
}

.pagination {
	width: 100%;
	padding: 0;
	font-size: 23px;
	display: flex;
	justify-content: center;
	z-index: 0;
}

.pagination li {
	list-style: none;
	margin: 0 11px;

}

.pagination a {
	color: #9b59b6;

}

.pagination a:hover {
	text-decoration: underline;
}

.pagination .active a {
	color: #000;
	text-decoration: none;
	cursor: default;
}

.info {
	padding: 0 25px 40px 25px;
	text-align: center;
}

/*footer*/

footer {
	width: 100%;
	background-color: #fff;
	padding: 10px 5% 25px 5%;
}

.pull-right {
	text-decoration: none;
	color: #9b59b6;
	font-weight: bold;
	text-align: right;
}

.pull-right, .pull-left {
	width: 49%;
	display: inline-block;
	
}


/*содержимое статьи*/
.main {
	background: #fff;
	margin-top: 70px;
	margin-top: 45px;
}

/*содержимое статьи*/
.main {
	background: #fff;
	margin-top: 70px;
	margin-top: 45px;
}

.impressum {
	padding: 30px 30px;

}

.content {
	width: calc(100% - 320px);
}

.content p {
	font-size: 1.25em;
	line-height: 1.4em;
	background-color: #fff;
	margin: 5px;
	padding: 5px;
	border-radius: 7px;
	text-align: justify;
}

.content p::selection {
	background: #9b59b6;
	color: #fff;
}

.content a {
	color: #9b59b6;
	padding: 0 5px;
	text-decoration: none;
}

.content a:hover {
	/*font-weight: bold;*/
	text-decoration: underline;
}

.pony-wrap {

	padding: 30px 20px 0 20px;
}

.content .pony {
	position: relative;
	width: 100%;
	height: 380px;
	background: center -10px/cover no-repeat;
	border-radius: 10px 10px 0 0;
}

.pony-title {
	color: #000;
	padding: 30px;
}

.pony-title h1 {
	text-transform: uppercase;
	font-size: 1.8em;
	margin: 0;	
}

.subtitle p {
	font-style: italic;
	font-size: 	1.4em;
	line-height: 1.2em;
	text-align: justify;
	margin: 0;
}

.text {
	padding: 0 20px 20px 20px;
}

.text img {
	width: 100%;
	height: auto;
}

.text p {
	font-size: 1.25em;
}

.content .text iframe {
	max-width: 100%;
}

.extra-title {
	width: 100%;
	font-weight: bold;
	font-size: 22px;
	padding: 30px 0 10px 0;
}

/*радио*/
#radiobells_container{
	width: 100%;
	z-index: 1;
}

#rad_player {
	border-radius: 25px;
	height: 48px !important;
}

#rad_logo {
	/*display: none;*/
}

/*Видео*/
.content .text iframe[src*='youtube'], .content .text iframe[src*='vimeo']
{
	width: 100%;
	height: 33vw;
}

/*Дополнительно*/

.extra {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.extra .item {
	width: 220px;
	margin: 10px;
	padding: 0;
	border-radius: 10px;
}

.extra .pony {
	height: 100px;
	border-radius: 200px;
}

